.navBg {
  background-color: #A17917;
  color:white;
  height: 80px;
}

.topdogrow{
  min-height: 300px;
  background-color: pink;
}

.action{
  cursor: pointer;
  transition: all .3s linear;
}

.muted{
  opacity: .75;
}

.action.muted:hover{
  opacity: 1;
}

.card-img-top{
  max-height: 200px;
  max-width: 200px;
}

.cards{
  margin: 12px;
}